@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');

body {
  font-family: 'Jost', sans-serif;
  background: #f7f8fd;
}

a {
  text-decoration: none;
}

.active {
  background-color: #4661e6 !important;
  color: #ffffff !important;
}

.upvotes-active {
  background-color: #4661e6 !important;
}

.upvotes-active span {
  color: #ffffff !important;
}

.upvotes-active img {
  filter: brightness(0) invert(1);
}
